body {
    font-family: "Times new roman", Palatino, serif;
    background-color: #87CEFA;
    font-size: 1.2em;
    line-height: 1.8em;
    width: 80%;
    border: none;
    margin: 0px auto;
}

.container {
    background-color: floralwhite;
    margin: 0px auto;  
    width: 50%;
    border: thin solid black;
    padding: 20px 20px 20px 40px;
    border-radius: 10px;
}

h1 {
    font-size: 2em;
    font-weight: bold;
    text-shadow: 0 0 1.5px darkblue, 0 1.5px 0 white;

}

input[type=text],[type=email],[type=number], select{
    width: 100%;
    border: 1px solid black;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: 3s;
}


input[type=text]:focus {
    border-color: dodgerblue;
    box-shadow: 0 0 8px 0 dodgerblue;
}

input[type=email]:focus {
    border-color: dodgerblue;
    box-shadow: 0 0 8px 0 dodgerblue;
}

input[type=number]:focus {
    border-color: dodgerblue;
    box-shadow: 0 0 8px 0 dodgerblue;
}

select:focus {
    border-color: dodgerblue;
    box-shadow: 0 0 8px 0 dodgerblue;
}


header {
    text-align: center;
}

#required::before {
    content: "*";
}

 .break {
    display: block;
}
.button {
    display: block;
    margin: 25px auto;
    width: 100px;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1em;
    transition-duration: 0.4s;
    
}

.button:hover{
    border-color: dodgerblue;
    box-shadow: 0 0 8px 0 dodgerblue;
}

